/* form style reference https://www.sanwebe.com/2014/08/css-html-forms-designs */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,900');
@import url('https://fonts.cdnfonts.com/css/drugs');

body{
    background-color: black;
    text-align: center;
    color:black;
    font-family: 'Drugs', sans-serif;  
    margin: 0 auto;
    padding-bottom:20px;
}

nav{
	padding: 4px;
    display:flex;
    height:6vh;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid ;
    border-bottom-color: orangered;
}

.titleNav{
    font-weight: 500;
    text-decoration: none;
    color:orangered;
}

.anchorTitle{
    text-decoration: none;
    color:orangered;
}
  
.bckwrds{
    transform: scaleX(-1);
    display: inline-block;
}

.title{
    color:orangered
}

.container {
    margin-top:4%;
    margin-left:30%;
    position: relative;
    width: 40vw;
    max-width: 100%;
    height: 40vh;
}

.section{
    background-color:transparent;
    border: 1px solid orangered; 
    position: relative; 
    padding: 0 35px;
    padding-bottom:10vh;
}

.fs {
    margin-left:-60%;
    position: relative;
    padding: 13px 20px;
    padding-left: 55px;
    height: 2vh;
    width: 60%;
    font-weight: 500;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    outline: none;
    color: #c4c3ca;
    background-color:wheat;
    border: none; 
    box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}

.fs:focus, .fs:active {
    border: none;
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}

.input-icon {
    top: .5vh;
    position: relative;
    margin-left:-25vw;
    height: 6vh;
    font-size: 20px;
    color: black;
}
  
.fg{
    padding:0;
}

.fg input::-webkit-input-placeholder  {
    color: black;
    opacity: 0.7;
}
  
.fg input:focus::-webkit-input-placeholder  {
    opacity: 0;
}

.error{
    height: 2vh;
    display: flex;
    justify-content: center;
    padding-bottom:2vh;
}
 
.login, .signup{
    height:auto;
    font-size:1em;
    width:10vw;
    border: 1px solid orangered;
    padding:10px;
    background-color: transparent;
    cursor: pointer;
    color: orangered;
    font-family: 'Montserrat', sans-serif;
}

.redirSign{
    text-decoration: none;
    color:orangered;
}

.error{
    color:blanchedalmond
}